{
  "registry-mirrors": [
    "https://docker.mirrors.ustc.edu.cn",
    "https://hub-mirror.c.163.com",
    "https://mirror.baidubce.com"
  ],
  "buildkit": {
    "frontend": "dockerfile.v0",
    "cache-mode": "max",
    "gc": {
      "enabled": true,
      "defaultKeepStorage": "20GB"
    }
  },
  "builder": {
    "gc": {
      "enabled": true,
      "defaultKeepStorage": "20GB"
    }
  }
}
